In [8]:
import numpy as np
import pandas as pd

## Pandas Series !
A 1D array in numpy was called array !, which in pandas it is called a Series

In [9]:
S1 = pd.Series([1,2,3,4])
S2 = pd.Series([4,5,6, 0.1])
print(S2)

0    4.0
1    5.0
2    6.0
3    0.1
dtype: float64

The vectorized operations are exactly like numpy arrays !!

In [10]:
S3 = S1+S2
S4 = S1-S2
print(S3)

0    5.0
1    7.0
2    9.0
3    4.1
dtype: float64

You can also create logical Series (boolean)

In [11]:
S5 = S1>S2
print(S5)

0    False
1    False
2    False
3     True
dtype: bool

You can also use the awesome logical indexing in pandas (similar to numpy)

In [12]:
S2[3]
S2[pd.Series([False,True,True,False])]

1    5.0
2    6.0
dtype: float64

In [13]:
S1[S1>S2]

3    4
dtype: int64

The awesome thing about pandas is that you can give names to elements (we call them indexes)

In [14]:
S6 = pd.Series([1,3,6,9],["a","b","c","d"])

In [15]:
print(S6)

a    1
b    3
c    6
d    9
dtype: int64

Let's define a vector S7 that is using similar indexes but with a different order

In [16]:
S6 = pd.Series([1,3,6,9],["a","b","c","d"])
S7 = pd.Series([4,5,7,9], ["d","b","c","a"])
S8 = S6+S7
print(S8)

a    10
b     8
c    13
d    13
dtype: int64

We can observe that it considers the indexes not the order !! that is a nice advantage !!

Let's solve out problem using this advantage

In [17]:
Q_heating = pd.Series([1150,1240,124], index= ["wall","ceiling", "door"])
print(Q_heating)

wall       1150
ceiling    1240
door        124
dtype: int64

Pay attention that you can create a pandas Series either like this:
Q_heating = pd.Series([1150,1240,124], ["wall","ceiling", "door"])

or like this:

Q_heating = pd.Series([1150,1240,124], index= ["wall","ceiling", "door"])

Clearly, the second option is better because it is easier to understand

Furhtermore, you can define a pandas Series by providing a dictionary as the input

Pandas_series = pd.Series(youDictionary)

In [18]:
Q_heating_dict = {"walls":1150,"ceiling":1240,"door":124}
Q_heating = pd.Series(Q_heating_dict)
print(Q_heating)

ceiling    1240
door        124
walls      1150
dtype: int64

The fact that we have indexes in pandas Series means that we can use them to extract the elements !

In [19]:
Q_door = Q_heating["door"]
print(Q_door)

124

You can also concert numpy arrays into pandas Series

In [20]:
opqaue_item_array  = np.array(["wall","ceiling","door"])
opaque_U_array = np.array([0.438,0.25,1.78])
opaque_area_array = np.array([105.8,200,2.2])
T_inside_heating = 20
T_outside_heating = -4.7
DeltaT_heating= T_inside_heating - T_outside_heating
opaque_HF_array = DeltaT_heating * opaque_U_array
opaque_Q_array = opaque_HF_array*opaque_area_array
Q_heating = pd.Series(opaque_Q_array, index= opqaue_item_array)
Q_heating["wall"]

1144.60788

Clearly, we could do the whole process using Pandas Series, as follows:

In [21]:
opaque_U = pd.Series([0.438,0.25,1.78], index = ["wall","ceiling","door"])
opaque_area = pd.Series([105.8,200,2.2], index = ["wall","ceiling","door"] )
temperatures = pd.Series([20,-4.8], index=["T_inside_heating","T_outside_heating"])
opaque_HF = opaque_U * (temperatures["T_inside_heating"]-temperatures["T_outside_heating"])
opaque_Q = opaque_HF*opaque_area
print(opaque_Q)

wall       1149.24192
ceiling    1240.00000
door         97.11680
dtype: float64

## applying a function to Series
you can use pandas .apply function to apply a function to Series!

In [22]:
def toKw(inputValue):
    outputValue = inputValue/1000
    return outputValue

Q_heating_kw = Q_heating.apply(toKw)
print(Q_heating_kw)

wall       1.144608
ceiling    1.235000
door       0.096725
dtype: float64

## Pandas DataFrames !
Using Pandas DataFrames you can define 2 D matrixes, each column in this matrix can have a different datatype !

In [23]:
resistance_names = ["R1","R2","R3","R4","R5"]
resistances_types = ["conv","cond","cond","cond","conv"]
resistances_h = [10,None,None,None,25]
resistances_k=  [None,0.8,1.5,0.05,None]
resistances_L= [None,0.5,0.3,0.6,None]
resistances_RValues=[0,0,0,0,0]
resistance_listofLists = [resistances_types,resistances_h,resistances_k,resistances_L,resistances_RValues]

In [24]:
resistances_DF = pd.DataFrame(resistance_listofLists,
                              index=["type","h","k","L","RValue"], 
                              columns = ["R1","R2","R3","R4","R5"])
print(resistances_DF)

          R1    R2    R3    R4    R5
type    conv  cond  cond  cond  conv
h         10  None  None  None    25
k       None   0.8   1.5  0.05  None
L       None   0.5   0.3   0.6  None
RValue     0     0     0     0     0

LEt me transpose it (which means changing the columsn with rows) so that each item would be a row and each property would be columns

In [25]:
resistances_DF2 = resistances_DF.transpose()
print(resistances_DF2)

    type     h     k     L RValue
R1  conv    10  None  None      0
R2  cond  None   0.8   0.5      0
R3  cond  None   1.5   0.3      0
R4  cond  None  0.05   0.6      0
R5  conv    25  None  None      0

### Extracting data from DataFrames
#### using iloc (number)

In [26]:
resistances_DF2.iloc[1,2]

0.8

In [27]:
resistances_DF2.iloc[3,3]

0.6

In [28]:
resistances_DF2.iloc[0,:]

type      conv
h           10
k         None
L         None
RValue       0
Name: R1, dtype: object

In [29]:
resistances_DF2.iloc[:,-1]

R1    0
R2    0
R3    0
R4    0
R5    0
Name: RValue, dtype: object

In [30]:
resistances_DF2.iloc[2,:]

type      cond
h         None
k          1.5
L          0.3
RValue       0
Name: R3, dtype: object

### .loc[] Extracting elements using their name !!
We do not like the numbers in pandas !

In [31]:
resistances_DF2.loc["R3","k"]

1.5

In [32]:
resistances_DF2.loc["R3",:]

type      cond
h         None
k          1.5
L          0.3
RValue       0
Name: R3, dtype: object

In [33]:
resistances_DF2.loc["R3"]

type      cond
h         None
k          1.5
L          0.3
RValue       0
Name: R3, dtype: object

**Note** For extracting columsn you do not need .loc

In [34]:
resistances_DF2["h"]

R1      10
R2    None
R3    None
R4    None
R5      25
Name: h, dtype: object

Now let's do the calculation

In [35]:
resistances_DF2

    type     h     k     L RValue
R1  conv    10  None  None      0
R2  cond  None   0.8   0.5      0
R3  cond  None   1.5   0.3      0
R4  cond  None  0.05   0.6      0
R5  conv    25  None  None      0

In [36]:
resistances_DF2["type"]=="conv"

R1     True
R2    False
R3    False
R4    False
R5     True
Name: type, dtype: bool

In [37]:
1.0/resistances_DF2[resistances_DF2["type"]=="conv"]["h"]

R1     0.1
R5    0.04
Name: h, dtype: object

In [38]:
resistances_DF2[resistances_DF2["type"]=="conv"]["RValue"]

R1    0
R5    0
Name: RValue, dtype: object

In [39]:
resistances_DF2.loc[resistances_DF2["type"]=="conv","RValue"] = 1.0/resistances_DF2.loc[resistances_DF2["type"]=="conv","h"]
resistances_DF2

    type     h     k     L RValue
R1  conv    10  None  None    0.1
R2  cond  None   0.8   0.5      0
R3  cond  None   1.5   0.3      0
R4  cond  None  0.05   0.6      0
R5  conv    25  None  None   0.04

In [41]:
resistances_DF2.loc[resistances_DF2["type"]=="cond","L"]/resistances_DF2.loc[resistances_DF2["type"]=="cond","k"]

R2    0.625
R3      0.2
R4       12
dtype: object

In [43]:
resistances_DF2.loc[resistances_DF2["type"]=="cond","RValue"] = resistances_DF2.loc[resistances_DF2["type"]=="cond","L"]/resistances_DF2.loc[resistances_DF2["type"]=="cond","k"]

In [44]:
resistances_DF2

    type     h     k     L RValue
R1  conv    10  None  None    0.1
R2  cond  None   0.8   0.5  0.625
R3  cond  None   1.5   0.3    0.2
R4  cond  None  0.05   0.6     12
R5  conv    25  None  None   0.04

In [46]:
import os
os.chdir(r"C:\Users\behzad\Dropbox\2 Teaching Activities\00 EETBS 2019\Git repos\python4ScientificComputing_Numpy_Pandas_MATPLotLIB\ExternalFiles")
os.getcwd()

'C:\\Users\\behzad\\Dropbox\\2 Teaching Activities\\00 EETBS 2019\\Git repos\\python4ScientificComputing_Numpy_Pandas_MATPLotLIB\\ExternalFiles'

In [48]:
resistances_DF2.to_csv("ResistanceData.csv")
resistances_DF2.to_excel("ResistanceData.xlsx")
resistances_DF2.to_html("ResistanceData.html")

There is a better way of doing this without changing the woring directory, we should use the absoloute path of the file !! os.path.join does it for us !

In [54]:
os.chdir(r"C:\Users\behzad\Dropbox\2 Teaching Activities\00 EETBS 2019\Git repos\python4ScientificComputing_Numpy_Pandas_MATPLotLIB")
os.getcwd()
TablesFolder = r"C:\Users\behzad\Dropbox\2 Teaching Activities\00 EETBS 2019\Git repos\python4ScientificComputing_Numpy_Pandas_MATPLotLIB\ExternalFiles"
FileName_resistances = "ResistanceData3.html"
path_file_resistances = os.path.join(TablesFolder,FileName_resistances)
print(path_file_resistances)
resistances_DF2.to_html(path_file_resistances)

C:\Users\behzad\Dropbox\2 Teaching Activities\00 EETBS 2019\Git repos\python4ScientificComputing_Numpy_Pandas_MATPLotLIB\ExternalFiles\ResistanceData3.html

In [55]:
os.getcwd()

'C:\\Users\\behzad\\Dropbox\\2 Teaching Activities\\00 EETBS 2019\\Git repos\\python4ScientificComputing_Numpy_Pandas_MATPLotLIB'

## Importing Files in Pandas

In [58]:
Folder_whereTheTablesAre = r"C:\Users\behzad\Dropbox\2 Teaching Activities\00 EETBS 2019\Git repos\python4ScientificComputing_Numpy_Pandas_MATPLotLIB\ExternalFiles\Tables"
fileName = "IAC_cl.csv"
path_IAC_cl = os.path.join(Folder_whereTheTablesAre,fileName)

IAC_cl_DF  = pd.read_csv(path_IAC_cl, sep =";", index_col = 1, header = 0)
IAC_cl_DF

,Type,DrapesLightOpen,DrapesDarkClosed,DrapesLightClosed,RollerOpaqueDark,RollerOpqaueWhite,RollerTranslucentLight,BlindsMedium,BlindsDark
ID,,,,,,,,,
1a,clear_1Layer,0.64,0.71,0.45,0.64,0.34,0.44,0.74,0.66
1c,HeatAbsorbing_1Layer,0.68,0.72,0.50,0.67,0.40,0.49,0.76,0.69
5a,Clear_2Layer,0.72,0.81,0.57,0.76,0.48,0.55,0.82,0.74
17c,lowEpsillonHighSolar_2Layers,0.76,0.86,0.64,0.82,0.57,0.62,0.86,0.79
25a,lowEpsillonLowSolar_2Layers,0.79,0.88,0.68,0.85,0.60,0.66,0.88,0.82
5c,HeatAbsorbing_2Layers,0.73,0.82,0.59,0.77,0.51,0.58,0.83,0.76

In [59]:
IAC_cl_DF.loc["1c","BlindsDark"]

0.69

In [61]:
def IAC_cl_finder(windowID,shadingType):
    Folder_whereTheTablesAre = r"C:\Users\behzad\Dropbox\2 Teaching Activities\00 EETBS 2019\Git repos\python4ScientificComputing_Numpy_Pandas_MATPLotLIB\ExternalFiles\Tables"
    fileName = "IAC_cl.csv"
    path_IAC_cl = os.path.join(Folder_whereTheTablesAre,fileName)
    IAC_cl_DF  = pd.read_csv(path_IAC_cl, sep =";", index_col = 1, header = 0)
    IAC_cl_ValueForThisInput = IAC_cl_DF.loc[windowID,shadingType]
    return IAC_cl_ValueForThisInput

In [62]:
IAC_cl_finder("1c","BlindsDark")

0.69

In [64]:
Folder_whereTheTablesAre = r"C:\Users\behzad\Dropbox\2 Teaching Activities\00 EETBS 2019\Git repos\python4ScientificComputing_Numpy_Pandas_MATPLotLIB\ExternalFiles\Tables"
fileName_windows = "windows.csv"
path_windows = os.path.join(Folder_whereTheTablesAre,fileName_windows)
windows_DF  = pd.read_csv(path_windows, sep =";", index_col = 0, header = 0)
windows_DF

,Direction,width,Height,Area,Window_ID,Frame_type,Frame_material,U,SHGC,HF,...,IAC_cl,IAC,Tx,Ed,ED,PXI,FFs,C_value,CF,Qcooling
Name,,,,,,,,,,,,,,,,,,,,,
east,E,8,1.8,0,5c,Fixed,Wood,0,0,0,...,0,0,1.00,0,0,0,0,0,0,0
west,W,8,1.8,0,5c,Fixed,Wood,0,0,0,...,0,0,1.00,0,0,0,0,0,0,0
south-Fixed,S,2,1.8,0,5c,Fixed,Wood,0,0,0,...,0,0,1.00,0,0,0,0,0,0,0
south-Operable,S,2,1.8,0,5c,Operable,Wood,0,0,0,...,0,0,0.64,0,0,0,0,0,0,0

In [66]:
windows_DF.loc["west","Height"]

1.8

In [68]:
windows_DF.loc[:,"Area"] = windows_DF.loc[:,"width"] * windows_DF.loc[:,"Height"]

In [69]:
windows_DF

,Direction,width,Height,Area,Window_ID,Frame_type,Frame_material,U,SHGC,HF,...,IAC_cl,IAC,Tx,Ed,ED,PXI,FFs,C_value,CF,Qcooling
Name,,,,,,,,,,,,,,,,,,,,,
east,E,8,1.8,14.4,5c,Fixed,Wood,0,0,0,...,0,0,1.00,0,0,0,0,0,0,0
west,W,8,1.8,14.4,5c,Fixed,Wood,0,0,0,...,0,0,1.00,0,0,0,0,0,0,0
south-Fixed,S,2,1.8,3.6,5c,Fixed,Wood,0,0,0,...,0,0,1.00,0,0,0,0,0,0,0
south-Operable,S,2,1.8,3.6,5c,Operable,Wood,0,0,0,...,0,0,0.64,0,0,0,0,0,0,0

In [70]:
FileName_windows_modified= "windows_modified.csv"
path_windows_modified = os.path.join(Folder_whereTheTablesAre,FileName_windows_modified)
windows_DF.to_csv(path_windows_modified, sep = ";")

In [76]:
latitude  = 45
location_deltaT_cooling = 7.9 
location_deltaT_heating = 24.9 
location_DR_cooling= 11.9

C_Value  =location_deltaT_cooling - 0.46 * location_DR_cooling
print(C_Value)
windows_DF.loc[:,"C_value"] = C_Value
windows_DF.loc[:,"C_value"]

2.426

Name
east              2.426
west              2.426
south-Fixed       2.426
south-Operable    2.426
Name: C_value, dtype: float64

In [79]:
windows_DF.to_csv(path_windows_modified, sep = ";")

In [83]:
def IAC_cl_finder_BlindsDark(windowID):
    shadingType = "BlindsDark"
    Folder_whereTheTablesAre = r"C:\Users\behzad\Dropbox\2 Teaching Activities\00 EETBS 2019\Git repos\python4ScientificComputing_Numpy_Pandas_MATPLotLIB\ExternalFiles\Tables"
    fileName = "IAC_cl.csv"
    path_IAC_cl = os.path.join(Folder_whereTheTablesAre,fileName)
    IAC_cl_DF  = pd.read_csv(path_IAC_cl, sep =";", index_col = 1, header = 0)
    IAC_cl_ValueForThisInput = IAC_cl_DF.loc[windowID,shadingType]
    return IAC_cl_ValueForThisInput

In [80]:
windows_DF.loc[:,"IAC_cl"]

Name
east              0
west              0
south-Fixed       0
south-Operable    0
Name: IAC_cl, dtype: int64

In [84]:
windows_DF.loc[:,"Window_ID"].apply(IAC_cl_finder_BlindsDark)

Name
east              0.76
west              0.76
south-Fixed       0.76
south-Operable    0.76
Name: Window_ID, dtype: float64

In [86]:
windows_DF.loc[:,"IAC_cl"]  = windows_DF.loc[:,"Window_ID"].apply(IAC_cl_finder_BlindsDark)

In [87]:
windows_DF

,Direction,width,Height,Area,Window_ID,Frame_type,Frame_material,U,SHGC,HF,...,IAC_cl,IAC,Tx,Ed,ED,PXI,FFs,C_value,CF,Qcooling
Name,,,,,,,,,,,,,,,,,,,,,
east,E,8,1.8,14.4,5c,Fixed,Wood,0,0,0,...,0.76,0,1.00,0,0,0,0,2.426,0,0
west,W,8,1.8,14.4,5c,Fixed,Wood,0,0,0,...,0.76,0,1.00,0,0,0,0,2.426,0,0
south-Fixed,S,2,1.8,3.6,5c,Fixed,Wood,0,0,0,...,0.76,0,1.00,0,0,0,0,2.426,0,0
south-Operable,S,2,1.8,3.6,5c,Operable,Wood,0,0,0,...,0.76,0,0.64,0,0,0,0,2.426,0,0